@using DAL.Modelos
@model Articulo

@{
}
<div class="row">
    <div class="col-lg-8 p-r-0 title-margin-right">
        <div class="page-header">
            <div class="page-title">
                <h2><i class="ti-package text-default"></i> Editar Artículo </h2>
            </div>
        </div>
    </div>
</div>
<!-- /# row -->
<section id="main-content">
    <div class="row">
        <div class="col-lg-12">

            @using (Html.BeginForm("EditarArticulo", "Articulos", new { area = "Administrador" }, FormMethod.Post))
            {<div class="form-validation">
                    <div class="form-valide">
                        <div class="card">
                            <div class="card-body">

                                <input type="hidden" name="IdArticulo" value="@Model.IdArticulo" />
                                <input type="hidden" name="FechaCreacion" value="@Model.FechaCreacion" />   @*Ver como solucionar este problema de la fecha*@
                                @*<input type="hidden" name="ModificadoPor" value="@User.Identity.Name" />*@

                                <div class="form-group row align-items-center">
                                    <label class="col-lg-1 col-form-label">Código <span class="text-danger">*</span></label>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" name="Codigo" placeholder="Código del Artículo" value="@Model.Codigo" required>
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label class="col-lg-1 col-form-label p-0">Descripción <span class="text-danger">*</span></label>
                                    <div class="col-lg-11">
                                        <input type="text" class="form-control" name="Descripcion" placeholder="Descripción del Artículo" value="@Model.Descripcion">
                                    </div>
                                </div>

                                <div class="row align-items-center">
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <div class="stat-widget-four">
                                                <div class="stat-icon">
                                                    <i class="ti-plus"></i>
                                                </div>
                                                <div class="stat-content">
                                                    <div class="text-left dib">
                                                        <div class="stat-text">Fecha de Creación</div>
                                                        <div class="stat-heading">@Model.FechaCreacion.ToShortDateString()</div>
                                                        <div class="stat-text">Creado Por</div>
                                                        <div class="stat-heading">@(Model.CreadoPor != null ? Model.CreadoPor : "Sin identificar")</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <div class="stat-widget-four">
                                                <div class="stat-icon">
                                                    <i class="ti-pencil"></i>
                                                </div>
                                                <div class="stat-content">
                                                    <div class="text-left dib">
                                                        <div class="stat-text">Fecha de Última Modificación</div>
                                                        <div class="stat-heading">@(Model.FechaModificacion != null ? Model.FechaModificacion?.ToShortDateString() : "...")</div>
                                                        <div class="stat-text">Modificado Por</div>
                                                        <div class="stat-heading">@(Model.ModificadoPor != null ? Model.ModificadoPor : "Sin identificar")</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @if (Model.FechaBorrado != null)
                                    {
                                        <div class="col-lg-4">
                                            <div class="card">
                                                <div class="stat-widget-four">
                                                    <div class="stat-icon">
                                                        <i class="ti-close"></i>
                                                    </div>
                                                    <div class="stat-content">
                                                        <div class="text-left dib">
                                                            <div class="stat-text">Fecha de Borrado</div>
                                                            <div class="stat-heading">@(Model.FechaBorrado != null ? Model.FechaBorrado?.ToShortDateString() : "...")</div>
                                                            <div class="stat-text">Modificado Por</div>
                                                            <div class="stat-heading">@(Model.BorradoPor != null ? Model.BorradoPor : "No ha sido eliminado")</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    <div class="col-lg-3 ml-auto">
                                        @if (Model.FechaBorrado == null)
                                        {
                                            <div class="card bg-success">
                                                <div class="stat-widget-six">
                                                    <div class="stat-icon">
                                                        <i class="ti-check"></i>
                                                    </div>
                                                    <div class="stat-content">
                                                        <div class="text-left dib">
                                                            <div class="stat-heading font-weight-bold">ARTÍCULO VIGENTE</div>
                                                            <div class="stat-text">Estatus Actual del Artículo</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="card bg-danger">
                                                <div class="stat-widget-six">
                                                    <div class="stat-icon">
                                                        <i class="ti-close"></i>
                                                    </div>
                                                    <div class="stat-content">
                                                        <div class="text-left dib">
                                                            <div class="stat-heading font-weight-bold">ARTÍCULO ELIMINADO</div>
                                                            <div class="stat-text">Estatus Actual del Artículo</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 d-flex align-items-center">
                                    <button type="submit" class="btn btn-info col-lg-4 m-1">Guardar Modificaciones</button>
                                    <a asp-area="Administrador" asp-controller="Articulos" asp-action="AdministrarArticulos" class="btn btn-default ml-2">Volver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
            @if (Model.FechaBorrado == null)
            {

                @using (Html.BeginForm("EliminarArticuloPorId", "Articulos", new { area = "Administrador" }, FormMethod.Post))
                {
                    <input type="hidden" name="id" value="@Model.IdArticulo" />
                    <input type="hidden" name="who" value="@User.Identity.Name" />
                    <button type="submit" class="btn btn-danger col-lg-3 ml-auto" onclick="return confirm('¿Usted está seguro que desea eliminar artículo? \nCódigo: @Model.Codigo \nDescripción: @Model.Descripcion')">Eliminar Artículo</button>
                }
            }




        </div>
    </div>

</section>