@using DAL.Modelos
@model Pedido
@{
    List<Articulo> selectArticulos = ViewBag.Articulos;
    List<Cliente> selectClientes = ViewBag.Clientes;
    Dictionary<Articulo, int> ArticulosYCantidadesDelPedido = ViewBag.ArticulosYCantidadesDelPedido;
}
<div class="row">
    <div class="col-lg-8 p-r-0 title-margin-right">
        <div class="page-header">
            <div class="page-title">
                <h2><i class="ti-pencil-alt text-default"></i> Nuevo Pedido</h2>
            </div>
        </div>
    </div>
</div>
<!-- /# row -->
<section id="main-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-validation">

                        <form asp-area="UsuarioGeneral" asp-controller="Pedidos" asp-action="AgregarPedido" method="POST">

                            <div class="form-group row ml-2">
                                <label asp-for="IdCliente" class="col-form-label mt-2" for="val-username">
                                    Cliente <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-7 ml-3">
                                    <select class="form-control" id="select-cliente" name="idCliente" asp-for="IdCliente">
                                        <option value="">Seleccione un cliente</option>
                                        @foreach (Cliente cliente in selectClientes)
                                        {
                                            <option value="@cliente.IdCliente">Nro Cliente: @cliente.Numero -  Nombre: @cliente.Nombre</option>
                                        }
                                    </select>
                                    <span asp-validation-for="IdCliente" class="text-danger"></span>
                                </div>
                               
                            </div>
                           
                            <div class="form-group row ml-2">
                                <label class="col-form-label mt-2" for="val-skill">
                                    Artículo <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-7 ml-3">
                                    <select class="form-control" id="select-articulo" name="IdArticulo">
                                        <option value="">Seleccione un artículo</option>
                                        @foreach (Articulo articulo in selectArticulos)
                                        {
                                            <option value="@articulo.IdArticulo">Código: @articulo.Codigo -  Descripción: @articulo.Descripcion</option>
                                        }
                                    </select>
                                </div>
                                <label class="col-form-label mt-2" for="val-digits">
                                    Cantidad <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-3">
                                    <input type="text" class="form-control" id="val-cantidad"
                                           name="Cantidad" placeholder="Ingrese cantidad">
                                </div>
                            </div>

                            <div class="form-group row ml-2">
                                <label class="col-form-label mt-2" for="val-suggestions">Comentario </label>
                                <div class="col-lg-11">
                                    <textarea class="form-control"
                                              placeholder="¿Que comentario te gustaría ponerle al pedido?"></textarea>
                                </div>
                            </div>

                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing" name="permanecerView" value="true">
                                <label class="custom-control-label" for="customControlAutosizing">Seguiré en la ventana de creación de pedidos</label>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 d-flex align-items-center">
                                    <button type="submit" class="btn btn-dark col-lg-4 m-1">Agregar Pedido</button>
                                    <a href="javascript:history.back(-1);" class="btn btn-default ml-auto ">Volver</a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    @{await Html.RenderPartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml");}
}
