@using DAL.Modelos
@model Pedido
@{
}
<div class="row">
    <div class="col-lg-8 p-r-0 title-margin-right">
        <div class="page-header">
            <div class="page-title">
                <h2><i class="ti-pencil text-default"></i> Editar Pedido</h2>
            </div>
        </div>
    </div>
</div>
<!-- /# row -->
<section id="main-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-four">
                                    <div class="stat-icon">
                                        <i class="ti-user"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-heading">@Model.IdClienteNavigation.Nombre</div>
                                            <div class="stat-text">Cliente</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card bg-warning">
                                <div class="stat-widget-four">
                                    <div class="stat-icon">
                                        <i class="ti-stats-up"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-heading">PEDIDO <span>@Model.IdEstadoNavigation.Descripcion.ToUpper()</span></div>
                                            <div class="stat-text">Estado del Pedido</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 ml-auto">
                            <div class="card">
                                <div class="stat-widget-four">
                                    <div class="stat-icon">
                                        <i class="ti-pencil"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-heading">Última Modificación</div>
                                            <div class="stat-text">Fecha: <span>@(Model.FechaModificacion != null ? Model.FechaModificacion?.ToShortDateString() : "...")</span></div>
                                            <div class="stat-text">Por: <span>@(Model.ModificadoPor != null ? @String.Format("{0} {1}", @Model.ModificadoPorNavigation.Nombre, @Model.ModificadoPorNavigation.Apellido) : "Sin identificar")</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-validation">
                        <form class="form-valide" action="#" method="post">
                            <div class="card-title">
                                <h4>Agregar un artículo</h4>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label" for="val-skill">
                                    Artículo <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-5">
                                    <select class="form-control" id="select-articulo" name="">
                                        <option value="">Seleccione un artículo</option>
                                        @foreach (Articulo articulo in ViewBag.Articulos)
                                        {
                                            <option value="@articulo.IdArticulo">Código: @articulo.Codigo -  Descripción: @articulo.Descripcion</option>
                                        }
                                    </select>
                                   
                                </div>
                                <label class="col-form-label" for="val-digits">
                                    Cantidad <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-2">
                                    <input type="text" class="form-control" id="val-cantidad"
                                           name="val-digits" placeholder="Ingrese cantidad">
                                </div>
                                <div class="col-lg-1">
                                    <button type="submit" class="btn btn-success">
                                        Agregar
                                        artículo
                                    </button>
                                </div>
                            </div>
                        </form>

                        <div class="form-group row">
                            <label class="col-form-label" for="val-suggestions">Comentario </label>
                            <div class="col-lg-10">
                                <textarea class="form-control"
                                          placeholder="¿Que comentario te gustaría ponerle al pedido?"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-title">
                    <h4>Contenido del pedido</h4>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th>Código</th>
                                    <th>Cantidad</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Descripción del Artículo</td>
                                    <td>Código del Artículo</td>
                                    <td>Cantidad</td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-danger btn-flat btn-addon btn-sm">
                                            <i class="ti-close"></i>Quitar
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Descripción del Artículo</td>
                                    <td>Código del Artículo</td>
                                    <td>Cantidad</td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-danger btn-flat btn-addon btn-sm">
                                            <i class="ti-close"></i>Quitar
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Descripción del Artículo</td>
                                    <td>Código del Artículo</td>
                                    <td>Cantidad</td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-danger btn-flat btn-addon btn-sm">
                                            <i class="ti-close"></i>Quitar
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Descripción del Artículo</td>
                                    <td>Código del Artículo</td>
                                    <td>Cantidad</td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-danger btn-flat btn-addon btn-sm">
                                            <i class="ti-close"></i>Quitar
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 d-flex align-items-center">
            <button type="button" class="btn btn-info m-1">Guardar Modificaciones</button>
            <button type="button" class="btn btn-warning m-1">Cerrar Pedido</button>
            <button type="button" class="btn btn-success m-1">Marcar como Entregado</button>
            <button type="button" class="btn btn-danger ml-auto">Eliminar Pedido</button>
            <a href="javascript:history.back(-1);" class="btn btn-default ml-3">Volver</a>
        </div>
    </div>
</section>