@using DAL.Modelos
@model List<Pedido>
@{
}

@section Styles{

    <link href="~/themes/assets/css/lib/data-table/buttons.bootstrap.min.css" rel="stylesheet" />
}


<div class="row">
    <div class="col-lg-8 p-r-0 title-margin-right">
        <div class="page-header">
            <div class="page-title">
                <h2><i class="ti-clipboard text-default"></i> Gestionar Pedidos</h2>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-title">
                <h3>Listado de Pedidos</h3>
            </div>
            <div class="form-check ml-auto">
                <input class="form-check-input  " type="checkbox" id="CheckboxOcultarEliminados" checked>
                <label class="form-check-label">
                    Ocultar pedidos eliminados
                </label>

            </div>
            <div class="form-check ml-auto">
                <input class="form-check-input  " type="checkbox" id="CheckboxOcultarModificadosAntiguos">
                <label class="form-check-label">
                    Sólo editados el último año
                </label>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="bootstrap-data-table-panel">
                            <div class="table-responsive">
                                <table id="row-select" class="display table table-borderd table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-md-1">N°Pedido</th>
                                            <th class="col-md-3">Cliente</th>
                                            <th class="col-md-3" data-toggle="tooltip" data-html="true" title="Sólo puede existir un pedido Abierto y Vigente por Cliente">Estado</th>
                                            <th>Vigencia</th>
                                            <th class="col-md-2">Últ. Modificación</th>
                                            <th class="col-md-3"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="body-table">
                                        @foreach (var pedido in Model)
                                        {
                                        <tr>
                                            <td>@pedido.NroPedido</td>

                                            <td>@pedido.IdClienteNavigation.Nombre</td>

                                            <td class="estado-pedido">@pedido.IdEstadoNavigation.Descripcion</td>

                                            <td>@(pedido.FechaBorrado == null ? "VIGENTE" : "ELIMINADO")</td>

                                            <td class="">@(pedido.ModificadoPor != null ? @String.Format("El día {0} por {1} {2}", pedido.FechaModificacion?.ToShortDateString(), pedido.ModificadoPorNavigation.Nombre, pedido.ModificadoPorNavigation.Apellido): "Modificación no identificada" )</td>

                                            <td class="row justify-content-between align-items-center">
                                                <a asp-area="UsuarioGeneral" asp-controller="Pedidos" asp-action="EditarPedido" asp-route-id="@pedido.IdPedido"
                                                   class="btn btn-outline-info btn-flat btn-addon btn-sm mr-1">
                                                    <i class="ti-pencil"></i>Editar
                                                </a>
                                                @if (pedido.FechaBorrado == null)
                                                {
                                                    <form method="POST" asp-area="UsuarioGeneral" asp-controller="Pedidos" asp-action="EliminarPedido" asp-route-IdPedido="@pedido.IdPedido">
                                                        <button type="submit" class="btn btn-outline-danger btn-flat btn-addon btn-sm" onclick="return confirm('¿Usted está seguro que desea eliminar el pedido?')"> <i class="ti-close"></i>Eliminar</button>
                                                    </form>

                                                }

                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                    <tfoot class="col-12">
                                        <tr>
                                            <th class="invisible">Pedido</th>
                                            <th>Cliente</th>
                                            <th>Estado</th>
                                            <th>Vigencia</th>
                                            <th class="invisible"></th>
                                            <th class="invisible"></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <script src="~/themes/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="~/themes/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="~/themes/assets/js/lib/data-table/jszip.min.js"></script>
    <script src="~/themes/assets/js/lib/data-table/pdfmake.min.js"></script>
    <script src="~/themes/assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="~/themes/assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="~/themes/assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="~/themes/assets/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="~/themes/assets/js/lib/data-table/datatables-init.js"></script>
    <script src="~/js/OcultarEliminadosDataTable.js"></script>
}